<!-- ========================= -->
<!-- about.html -->
<!-- ========================= -->

{% extends 'base.html' %}

{% block content %}

<h1>About INFLASIGHT</h1>

<div class="card">

    <h2>Project Description</h2>

    <p style="margin-top:20px; line-height:1.8;">
        INFLASIGHT AI is an Artificial Intelligence web application
        developed for predicting inflation rates using Machine Learning
        and Deep Learning algorithms.
    </p>

</div>

<div class="card">

    <h2>Developer</h2>

    <p style="margin-top:20px;">
        Fadil Ramadhan
    </p>

</div>

<div class="card">

    <h2>Technology Stack</h2>

    <ul style="margin-top:20px; line-height:2;">
        <li>Python Flask</li>
        <li>TensorFlow</li>
        <li>Scikit-Learn</li>
        <li>HTML CSS</li>
        <li>Machine Learning</li>
    </ul>

</div>

{% endblock %}